/* Classes */
img.tugboatterror
{
}
.container
{
    margin: 50px;
}
.games
{
    float: left;
    margin-top: 75px;
    margin-inline-start: 200px;
    margin-inline-end: 100px;
}
.Button
{
    color: inherit;
    text-decoration-line: none;
}
Button:hover
{
    background-color: #42403e8f;
}
button 
{
    border: none;
	padding: 10px 20px;
	background: #42403e3f;
	color: #fff;
	font-family: 'TitilliumText22LRegular', Arial, sans-serif;
	font-size: 1.1em;
	border-radius: 0px;
    width: 200px;
}
.contact
{
    margin-top: 75px;
    float: left;
    margin-inline: 20px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.center 
{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 
{
    font-family: 'Yu Gothic';
    font-size: 400%;
    color: rgb(31, 30, 27);
    text-align: left;
    float: left;
}
h2
{
    float: none;
    font-family: 'Yu Gothic';
    color: rgb(31, 30, 27);
    text-align: left;
}
body
{
    background:rgb(218, 213, 197); 
    text-align: left;
}
p
{
    float: none;
    text-align: left;
    font-family: 'Yu Gothic';
    font-size: 105%;
    color: rgb(31, 30, 27);
}