#section1 
{
    height: 200px;
    margin: -10px;
    margin-bottom: -200px;
    background-color: rgba(180, 171, 145, 0.514);
}
#section2
{
    height: 500px;
    background-color: rgb(158, 149, 121);
}
#section3
{
    height: 1000px;
    margin: -20px;
    margin-bottom: -00px;
    background-color: rgb(218, 213, 197);
}
.me
{
    float: left;
    width: 200px;
    margin-right: 50px;
    border-radius: 12px;
}
.codeText
{
    float: right; 
    margin-left: 50px;
    margin-top: -25px;
}
.container
{
    margin: 50px;
}
html 
{
    scroll-behavior: smooth;
}
.games
{
    float: left;
    margin-top: 20px;
    margin-inline-start: 100px;
    margin-inline-end: 20px;
}
.code
{
    float: left;
    margin-top: 20px;
    margin-inline: 20px;
}
.contact
{
    float: left;
    margin-top: 20px;
    margin-inline: 20px;
}
.button 
{
    background-color: #57544a75;
    border: none;
    color: #e6e2d8;
    padding: 10px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 200px;
    font-family: 'Yu Gothic';
    cursor: pointer;
    border-radius: 16px;
}
.button:hover
{
    background-color:#57544aaf;
}
.clearfix {
    content: "";
    display: table;
    clear: both;
}
.center 
{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 
{
    font-family: 'Yu Gothic';
    font-size: 500%;
    color: rgb(31, 30, 27);
    text-align: left;
    margin-top: -20px;
    margin-bottom: 80px;
    float: left;
}
h2
{
    margin-left: 55px;
    float: none;
    font-family: 'Yu Gothic';
    color: rgb(31, 30, 27);
    text-align: left;
}
body
{
    background:rgb(218, 213, 197); 
    text-align: left;
}
p
{
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    text-align: left;
    font-family: 'Yu Gothic';
    font-size: 105%;
    color: rgb(31, 30, 27);
}