html 
{
    scroll-behavior: smooth;
}

h1 {
    font-size: 8vw;
    color: rgb(255, 247, 231);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0; 
    padding-left: 10px;
}

h2 {
    font-size: -30vw;
    color: rgb(255, 247, 231);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0; 
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
}

#projectsSection
{
}

.text {
    font-size: calc(100% + 0.4vw);
    color: rgb(255, 247, 231);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0; 
    padding: 2vw;
}

.image {
    width: 200px;
    float: left;
    padding: 2vw;
}

.gameImage {
    width: 300px;
    float: left;
    padding: 2vw;
}

body {
    overflow-x: hidden;
    background-color: rgb(42, 40, 40);
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: #57544a75;
    border: none;
    color: #e6e2d8;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 120%;
    width: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    border-radius: 16px;

    margin-right: 10px;
    margin-left: 10px;
}

.button:hover
{
    background-color:#57544aaf;
}

@media screen and (max-width: 500px) {
    .image {
        width: 91vw;
        float: none;
        padding-right: 100px;
    }
    .gameImage {
        width: 91vw;
        float: none;
        padding-right: 100px;
    }
}