/******************************************************************************* 
    System 
*******************************************************************************/
html 
{
    scroll-behavior: smooth;
}

h1 {
    font-size: 8vw;
    color: rgb(255, 247, 231);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0; 
    padding-left: 10px;
}

h2 {
    font-size: 180%;
    color: rgb(255, 247, 231);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0; 
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
}

body {
    overflow-x: hidden;
    background-color: rgb(42, 40, 40);
}

/******************************************************************************* 
    Sections
*******************************************************************************/
#completedProjectsSection {

}

#currentProjectsSection {

}

#rectangle {
    width: 97vw;
    height: calc(1.0vw + 4px);
    background:#57544a75;
    border-radius: 50px;
    margin-left: calc(1.4vw - 7px);
    margin-right: 2vw;
    margin-top: 20px;
    margin-bottom: 0.5vw;
}

/******************************************************************************* 
    General 
*******************************************************************************/
.text {
    font-size: calc(100% + 0.4vw);
    color: rgb(255, 247, 231);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0; 
    padding: 2vw;
}

xmp {
    padding: 2vw;
    background-color: #57544a75;
    width: 750px;
    color: rgb(255, 247, 231);
}

.image {
    width: 200px;
    float: left;
    padding: 2vw;
}

.video {
    width: 55vw;
    height: 30vw;
    padding: 2vw;
}

.gameImage {
    width: 300px;
    float: left;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 2vw;
}

.screenshotImage {
    width: 800px;
    float: left;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 2vw;
}

/******************************************************************************* 
    Buttons 
*******************************************************************************/
.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: #57544a75;
    border: none;
    color: #e6e2d8;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 120%;
    width: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    border-radius: 16px;

    margin-right: 10px;
    margin-left: 10px;
}

/******************************************************************************* 
    Hovering 
*******************************************************************************/
.button:hover
{
    background-color:#57544aaf;
}

.gameImage:hover
{
    opacity: 0.6;
}

.image:hover
{
    opacity: 0.6;
}

/******************************************************************************* 
    Moble 
*******************************************************************************/
@media screen and (max-width: 500px) {
    .image {
        width: 91vw;
        float: none;
        padding-right: 100px;
    }
    .gameImage {
        width: 91vw;
        float: none;
        padding-right: 100px;
    }
    .screenshotImage {
        width: 91vw;
        float: none;
        padding-right: 100px;
    }
    .video {
        width: 91vw;
        height: 200px;
        float: none;
        padding-right: 100px;
    }
}